/* SCSS HEX */
$black-dark: #101010ff;
$black-light: #1d1d1dff;
$accent: #db9743ff;
$bg-light: #f9f5f5ff;
$bg-dark: #eae0e0ff;
$primary: #dacec1ff;


/* SCSS Gradient */
$gradient-top: linear-gradient(0deg, #101010ff, #1d1d1dff, #db9743ff, #f9f5f5ff, #eae0e0ff, #dacec1ff);
$gradient-right: linear-gradient(90deg, #101010ff, #1d1d1dff, #db9743ff, #f9f5f5ff, #eae0e0ff, #dacec1ff);
$gradient-bottom: linear-gradient(180deg, #101010ff, #1d1d1dff, #db9743ff, #f9f5f5ff, #eae0e0ff, #dacec1ff);
$gradient-left: linear-gradient(270deg, #101010ff, #1d1d1dff, #db9743ff, #f9f5f5ff, #eae0e0ff, #dacec1ff);
$gradient-top-right: linear-gradient(45deg, #101010ff, #1d1d1dff, #db9743ff, #f9f5f5ff, #eae0e0ff, #dacec1ff);
$gradient-bottom-right: linear-gradient(135deg, #101010ff, #1d1d1dff, #db9743ff, #f9f5f5ff, #eae0e0ff, #dacec1ff);
$gradient-top-left: linear-gradient(225deg, #101010ff, #1d1d1dff, #db9743ff, #f9f5f5ff, #eae0e0ff, #dacec1ff);
$gradient-bottom-left: linear-gradient(315deg, #101010ff, #1d1d1dff, #db9743ff, #f9f5f5ff, #eae0e0ff, #dacec1ff);
$gradient-radial: radial-gradient(#101010ff, #1d1d1dff, #db9743ff, #f9f5f5ff, #eae0e0ff, #dacec1ff);